<div class="modal-header">
            <span class="pull-left">Technical Error</span>
            <div class="clickable pull-right img-xs close-button-gray" data-ng-click="closeErrorDetails()"></div>
</div>
<div class="modal-body">
	<div class="error-item">
                <div class="pull-left img-xs error-xs"></div>
		<span>Error occurred, see details below</span>
        </div>
	<div class="modal-details-title">Technical Error Details</div>
	<div class="modal-textarea" data-ng-bind-html="modalError.message">
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeErrorDetails()">Cancel</button>
</div>
