<div id="tab-discovery" class="tab-discovery tab-pane in active">
<div class="main">
<div class="dashboard col-xs-7">
<div class="searchbar row">
    <div class="search-query">
        <form class="form-search">
            <div class="input-group clear-form" data-ng-class="{'active': searchFieldHilite}">
                <div class="input-container">
                    <div class="input-history dropdown">
                        <input type="text" class="search-input clear-form-input form-control search-field"
                               placeholder="Type your query" data-ng-model="inputSearch"
                               data-ng-keyup="searchKeyUp($event)">

                        <a class="dropdown-toggle">
                            <i class="fa icon-caret-down"></i>
                        </a>

                        <div class="dropdown-menu dropdown-info">
                            <ul>
                                <li data-ng-repeat="history in searchHistory.messages">
                                    <a data-ng-click="newSearchInput(history.context)">
                                        {{ history.context }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .dropdown-menu -->

                    </div>
                    <!-- .dropdown -->
                </div>
                <!-- .input-container -->
		<span class="input-group-btn">
			<button type="button" class="btn btn-link btn-sm" data-ng-click="search()">
            			<i class="fa icon-search icon-on-right bigger-110"></i>
	                </button>
			<button type="button" class="btn btn-link btn-sm clear-form-trigger" data-ng-click="toggleSearchHilite()">
		                <i class="fa icon-times icon-on-right bigger-110"></i>
           	 	</button>
		</span>
            </div>
        </form>
    </div>
	<div class="row middlebar">
					<span class="pull-right middlebar_right pagination-container"
					      data-ng-show="showSearchPreviewResults">
										<ul class="pull-right pagination-plain text-primary">
						<li data-ng-hide="currentPage==1">
						    &lt; <a class="pagination_prev" data-ng-click="goTo(currentPage - 1)">previous</a>
						    |&nbsp;
						</li>
						<li class="active" data-ng-hide="currentPage==1">
						    pages <a class="pagination_1" data-ng-click="goTo(currentPage - 1)">{{
						    currentPage - 1 }}</a>,
						</li>
						<li>
						    &nbsp;{{ currentPage }},
						</li>
						<li>
						    &nbsp;<a class="pagination_3" data-ng-click="goTo(currentPage + 1)">{{
						    currentPage + 1 }}</a>
						</li>
						<li>
						    &nbsp;| <a class="pagination_last" data-ng-click="goTo(currentPage + 1)">next</a>
						    &gt;
						</li>
					    </ul>
					</span>

	    <div class="matches_number blue-primary puill-left" data-ng-show="showSuggestions">
		Did you mean: <span data-ng-repeat="suggestion in suggestions">
							<span data-ng-repeat="option in suggestion.options"><a
								data-ng-click="replaceSearchInput(suggestion.text, option)">{{ option
							    }}</a> </span>
						    </span>
	    </div>
	    <div class="matches_number blue-primary pull-left">
		<span data-ng-show="showSearchPreviewResults && !currentlySearching">
			<strong>{{ searchMatches }}</strong> matched messages
		</span>
		<strong data-ng-show="currentlySearching">Searching...</strong>
	    </div>
		<span class="pull-left middlebar_center">
			<div class="middlebar_center_top filter-collection">
				<div class="filter-tag-container" ng-show="selectedFilters.length > 0">
					<span class="filter-tag" data-ng-repeat="filterValue in selectedFilters">
						<div class="filter-tag-text truncate" data-trunc-text="{{ filterValue.label }}" data-trunc-font-width="10" data-container-width="429" data-trunc-desired-height="21" data-trunc-trailing-dots="true">
		    			</div>
						<i class="fa icon-times filter-tag-close"
		       data-ng-click="disableFilter(filterValue, filterValue.facetGroupCode)"></i>
					</span>
					<span class="filter-tag filter-tag-reset" data-ng-click="unselectAllFilters()">Reset All</span>
				</div>
			</div>
			<div class="middlebar_center_bottom"></div>
		</span>
	</div>
</div>
<div class="row msglist">
    <div class="pull-left toshrink sidebar-left facet-collection" data-ng-show="showFacets">
        <div class="toggle pull-right">
            <i class="fa icon-angle-left"></i>
        </div>
        <div class="scrollbar-hidden filter-list">
            <ul class="filter-list-inner">
                <li class="widget-box widget-box-simple filter-container row collapsible" collapsed-arrow="icon-four-thirty-down" uncollapsed-arrow="icon-four-thirty-up" data-ng-repeat="facet in facets">
                    <div class="widget-header">
                        <div class="widget-toolbar">
                            <a>
                                <i class="collapse-trigger"></i>
                            </a>
                        </div>
			<span class="filter-list-name">
                                                    {{ facet.name.label }}
			</span>
                    </div>
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <ul class="widget-main">
                                <li class="filter facet-toggle" data-ng-class="{'active': facetValue.selected === true}"
                                    data-ng-repeat="facetValue in facet.valueMap" data-ng-click="toggleFacet(facetValue)">
                                    <div class="pull-left checkbox">
                                        <i class="fa icon-check"></i>
                                    </div>
                                        <span class="filter-name truncate" tooltip="{{ originalText }}"
                                              tooltip-animation="true" trunc-text="{{ facetValue.label }}"
                                              trunc-font-width="7" trunc-desired-height="21"
                                              trunc-trailing-dots="true"></span>
															<span class="text-primary filter-value">
																{{ facetValue.value }}
															</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- .filter-list -->
    </div>
    <div class="listing togrow scrollbar-hidden message-list-container results-feed" data-ng-show="showSearchResults">
        <ul class="results message-list">
            <li class="result message-item message-item-unbordered" data-ng-repeat="message in messages"
                data-ng-class="{'active-single': message.selected, 'active-multi': message.highlighted}">
                <table class="table table-bordered-outer-bottom no-margin" data-ng-click="selectMessage(message)">
                    <tbody>
                    <tr>
                        <td rowspan="3" class="message-icons">
                            <i class="img-xs attachment-img-xs pull-right"></i>
                            <i data-ng-show="isMessageTypeEqualTo(message, 'EMAIL')"
                               class="pull-right img-xs envelope-img-xs"></i>
                        </td>
                        <td colspan="2" class="message-subject col-xs-6" data-ng-bind-html="message.subjectWithHighlights">
                        </td>
                        <td class="message-size pull-right">
                            {{ message.formattedIndexedMailMessage.formattedSize }}
                        </td>
                        <td rowspan="4" class="message-flag col-xs-1">
                            <i data-ng-show="isImportanceEqualTo(message, 'high')" class="fa icon-flag"></i>
                        </td>
                        <td rowspan="4" class="checkmark" data-ng-click="highlightMessage(message)">
                            <i class="fa icon-check"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="message-sender col-xs-3">
                            <strong>From:</strong> {{ message.formattedIndexedMailMessage.sender.name }}
                        </td>
			<td class="message-age">
				{{ message.formattedIndexedMailMessage.age }}
			</td>
                        <td class="message-date">
                            <span class="message-date pull-right">{{ message.formattedIndexedMailMessage.dayName }} {{ message.formattedIndexedMailMessage.messageDate }}</span>
                        </td>
                    </tr>
		    <tr>
			<td colspan="2" class="message-recipients">
				<div class="message-recipients-line">
					<strong>To:</strong> 
					<span style="position:absolute;top:0px;right:0px;left:20px;word-wrap:break-word;height:13px;" class="truncate"
					     trunc-text="{{ message.formattedIndexedMailMessage.toLine }}"
					     trunc-desired-height="13"
					     trunc-font-width="6" trunc-trailing-dots="true">
					</span>
				</div>
				<div class="message-recipients-line">
					<strong>CC:</strong> 
					<span style="position:absolute;top:0px;right:0px;left:23px;word-wrap:break-word;height:13px;" class="truncate"
					     trunc-text="{{ message.formattedIndexedMailMessage.ccLine }}"
					     trunc-desired-height="13"
					     trunc-font-width="6" trunc-trailing-dots="true">
					</span>
				</div>
				<div class="message-recipients-line">
					<strong>BCC/DL:</strong> 
					<span style="position:absolute;top:0px;right:0px;left:50px;word-wrap:break-word;height:13px;" class="truncate"
					     trunc-text="{{ message.formattedIndexedMailMessage.bccLine }}"
					     trunc-desired-height="13"
					     trunc-font-width="8" trunc-trailing-dots="true">
					</span>
				</div>
			</td>
		    </tr>
                    <tr>
			<td></td>
                        <td colspan="2" class="dropdown-toggle">
                            <div class="widget-box widget-box-simple"
                                 ng-class="{'collapsed': message.collapsedBody}">
				<span class="widget-header pull-left dropdown-header">
					<span class="widget-toolbar">
						<a>
                            <strong data-ng-click="toggleCollapse(message, 'collapsedBody')"
                               data-ng-class="{'icon-four-thirty-up': message.collapsedBody  === false, 'icon-four-thirty-down': message.collapsedBody === true}"
                               class="icon-on-right"></strong>
                        </a>
					</span>
					<strong class="dropdown-title">Body</strong>
				</span>
				<span class="widget-body">
					<div class="widget-body-inner">
                        <div data-ng-click="selectMessage(message)" class="widget-main gray-medium truncate"
                             trunc-text="{{ message.bodyWithHighlights }}"
                             trunc-desired-height="message.collapsedBody ? '21' : '84'"
                             trunc-font-width="message.collapsedBody ? '5' : '5'" trunc-trailing-dots="true">
                        </div>
                    </div>
				</span>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-show="hasAttachment(message)">
                        <td rowspan="1" class="message-icons col-xs-1">
                        </td>
                        <td colspan="2" class="dropdown-toggle">
                            <div class="widget-box widget-box-simple result-attachment"
                                 data-ng-repeat="attachment in message.formattedIndexedMailMessage.attachments"
                                 ng-class="{'collapsed': attachment.collapsed}">
				<span class="widget-header pull-left dropdown-header">
					<span class="widget-toolbar">
						<a>
                            <b ng-click="toggleCollapse(attachment)"
                               ng-class="{'icon-four-thirty-up': attachment.collapsed  === false, 'icon-four-thirty-down': attachment.collapsed === true}"
                               class="icon-on-right"></b>
                        </a>
					</span>
					<strong class="dropdown-title">{{ attachment.fileName }}</strong>
				</span>
				<span class="widget-body">
					<div class="widget-body-inner">
                        <div class="widget-main gray-medium truncate" trunc-text="{{ attachment.body }}"
                             trunc-desired-height="attachment.collapsed ? '21' : '84'"
                             trunc-font-width="attachment.collapsed ? '7' : '6'" trunc-trailing-dots="true">
                        </div>
                    </div>
				</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>

        </ul>
    </div>
</div>
</div>
	<div class="col-xs-5 msgview result-detail" data-ng-show="showContainer">
		<div class="tabbable">
			<ul class="upper nav nav-tabs inactive-border-none active-border-gray hover-inactive-tab-color-blue hover-inactive-text-white hover-active-text-blue active-text-blue inactive-text-gray tab-color-white background-white">
			    <li data-ng-class="{'active': isModeActive('text')}">
				<a data-toggle="tab" data-ui-sref="main.discovery.text" data-ng-click="switchMode('text')">Text</a>
			    </li>
			    <li data-ng-class="{'active': isModeActive('html')}">
				<a data-toggle="tab" data-ui-sref="main.discovery.html" data-ng-click="switchMode('html')">HTML</a>
			    </li>
			    <li data-ng-class="{'active': isModeActive('source')}">
				<a data-toggle="tab" data-ui-sref="main.discovery.source" data-ng-click="switchMode('source')">Source</a>
			    </li>
			    <li data-ng-class="{'active': isModeActive('audit')}">
				<a data-toggle="tab" data-ui-sref="main.discovery.audit" data-ng-click="switchMode('audit')">Audit</a>
			    </li>
			</ul>
			<div class="tab-content" data-ui-view>
			</div>
		</div>
		<!-- .tabbable -->
	</div>
	<!-- .msgview -->
</div>
<!-- .row.main -->
</div>
<!-- #tab-users -->
