	<div class="login-container">
		<div class="position-relative">
			<div class="login-box login-box-ironhold border widget-box" data-ng-class="{'visible': isVisible('login')}">
				<div class="widget-body">
					<div class="widget-main background-white">
						<h4 class="header blue lighter bigger">
							<img class="logo" src="img/logo.png" />
						</h4>
						<div class="space-6"></div>
						<form>
							<fieldset>
								<label class="block clearfix">
									<span class="block input-icon input-icon-right">
										<input type="text" class="form-control username" placeholder="Username" />
										<i class="icon-user"></i>
									</span>
								</label>

								<label class="block clearfix">
									<span class="block input-icon input-icon-right">
										<input type="password" class="form-control pass" placeholder="Password" />
										<i class="icon-lock"></i>
									</span>
								</label>

								<label class="block clearfix">
									<span class="block input-icon input-icon-right">
										<input type="text" class="form-control client-key" placeholder="Client Key" />
										<i class="icon-lock"></i>
									</span>
								</label>

								<div class="space"></div>

								<div class="clearfix">
									<label class="inline">
										<input type="checkbox" class="ace" />
										<span class="lbl"> Remember Me</span>
									</label>

									<button type="button" class="width-35 pull-right btn btn-sm btn-primary">
										<i class="icon-key"></i>
										Login
									</button>
								</div>

								<div class="space-4"></div>
							</fieldset>
						</form>
					</div> <!-- .widget-main -->
					<div class="toolbar clearfix">
						<div>
							<a class="pull-left forgot-password-link" data-ng-click="makeVisible('forgot-username')">
								Forgot username?
							</a>
						</div>
						<div>
							<a class="pull-right forgot-password-link" data-ng-click="makeVisible('forgot-password')">
								Forgot password?
							</a>
						</div>
					</div>
				</div> <!-- .widget-box -->
			</div> <!-- .login-box -->
			<div class="forgot-box forgot-username widget-box border" data-ng-class="{'visible': isVisible('forgot-username')">
				<div class="widget-body">
					<div class="widget-main">
						<h4 class="header lighter bigger">
							<i class="icon-key"></i>
							Retrieve Password
						</h4>	
						<div class="space-6"></div>
						<p>
							Please enter your email and to receive instructions
						</p>
						<form>
							<fieldset>
								<label class="block clearfix">
									<span class="block input-icon input-icon-right">
										<input type="email" class="form-control" placeholder="Email" />
										<i class="icon-envelope"></i>
									</span>
								</label>
								<div class="cleafix">
									<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
										<i class="icon-lightbulb"></i>
										Send me!
									</button>
								</div>
							</fieldset>
						</form>
					</div> <!-- .widget-main -->
					<div class="toolbar center">
						<a class="back-to-login-link" data-ng-click="makeVisible('login')">
							Back to login
							<i class="icon-arrow-right"></i>
						</a>
					</div>
				</div> <!-- .widget-body -->
			</div> <!-- .forgot-box.forgot-password -->
			<div class="forgot-box forgot-username widget-box border" data-ng-class="{'visible': isVisible('forgot-username')">
				<div class="widget-body">
					<div class="widget-main">
						<h4 class="header lighter bigger">
							<i class="icon-key"></i>
							Retrieve Password
						</h4>	
						<div class="space-6"></div>
						<p>
							Please enter your email and to receive instructions
						</p>
						<form>
							<fieldset>
								<label class="block clearfix">
									<span class="block input-icon input-icon-right">
										<input type="email" class="form-control" placeholder="Email" />
										<i class="icon-envelope"></i>
									</span>
								</label>
								<div class="cleafix">
									<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
										<i class="icon-lightbulb"></i>
										Send me!
									</button>
								</div>
							</fieldset>
						</form>
					</div> <!-- .widget-main -->
					<div class="toolbar center">
						<a class="back-to-login-link" data-ng-click="makeVisible('login')">
							Back to login
							<i class="icon-arrow-right"></i>
						</a>
					</div>
				</div> <!-- .widget-body -->
			</div> <!-- .forgot-box.forgot-username -->
		</div> <!-- .position-relative -->
	</div> <!-- .login-container -->
