<div class="results-initial no-result-content" data-ng-hide="hidePlaceholderScroller">
<!--	<div class="jspVerticalBar">
		<div class="jspCap jspCapTop"></div>
		<a class="jspArrow jspArrowUp disabled"></a>
		<div class="jspTrack" style="height: 100%;">
		</div>
		<a class="jspArrow jspArrowDown disabled"></a>
		<div class="jspCap jspCapBottom"></div>
	</div>  
-->
</div>

<div class="loading no-result-content" data-ng-show="showLoading && noEntries() && !showNoResults">
	<img alt="Loading..." src="img/Loading-Animation.gif" width="350" height="90" title="Loading..." />
<!--
	<div class="jspVerticalBar">
		<div class="jspCap jspCapTop"></div>
		<a class="jspArrow jspArrowUp disabled"></a>
		<div class="jspTrack" style="height: 100%;">
		</div>
		<a class="jspArrow jspArrowDown disabled"></a>
		<div class="jspCap jspCapBottom"></div>
	</div>  
-->
</div>

<div class="loading no-result-content" data-ng-show="showNoResults">
	0 results
<!--
	<div class="jspVerticalBar">
		<div class="jspCap jspCapTop"></div>
		<a class="jspArrow jspArrowUp disabled"></a>
		<div class="jspTrack" style="height: 100%;">
		</div>
		<a class="jspArrow jspArrowDown disabled"></a>
		<div class="jspCap jspCapBottom"></div>
	</div>  
-->
</div>

<div data-ng-show="isActiveTab('search') || isActiveTab('discovery')" class="search-results-list">
</div>

<div data-ng-show="isActiveTab('users')" class="users-results-list">
</div>
<!--
<div class="jspVerticalBar">
	<div class="jspCap jspCapTop"></div>
	<a class="jspArrow jspArrowUp disabled"></a>
	<div class="jspTrack" style="height: 100%;">
	</div>
	<a class="jspArrow jspArrowDown disabled"></a>
	<div class="jspCap jspCapBottom"></div>
</div>  
-->
