<div class="wrapper">
	<div class="top-section">
	    <div class="logo" title="IronHold"></div>

	    <div class="user-actions-panel welcome_name pull-right">
	    </div>
	</div>
	<div class="main-area">
	<div class="navigation">
		<div class="tabbable" data-ng-controller="TabController">
			<ul class="top-nav upper nav nav-tabs inactive-border-none active-border-gray hover-inactive-tab-color-blue hover-inactive-text-white hover-active-text-blue active-text-blue inactive-text-gray tab-color-white background-white">
			    <li data-ng-class="{'active':getClass('search')}" data-ng-click="setActiveTab('search')">
				<a data-toggle="tab">Search</a>
			    </li>
			    <li data-ng-class="{'active':getClass('discovery')}" data-ng-click="setActiveTab('discovery')">
				<a data-toggle="tab">Discovery</a>
			    </li>
			    <li data-ng-class="{'active':getClass('folders')}" data-ng-click="setActiveTab('folders')">
				<a data-toggle="tab">Folders</a>
			    </li>
			    <li data-ng-class="{'active':getClass('logs')}" data-ng-click="setActiveTab('logs')">
				<a data-toggle="tab">Logs</a>
			    </li>
			    <li data-ng-class="{'active':getClass('users')}" data-ng-click="setActiveTab('users')">
				<a data-toggle="tab">Users</a>
			    </li>
			    <li data-ng-class="{'active':getClass('settings')}" data-ng-click="setActiveTab('settings')">
				<a data-toggle="tab">Settings</a>
			    </li>
			</ul>

			<div class="tab-content top-nav" data-ui-view>
			</div>
			<!-- .tab-content -->
		</div>
		<!-- .tabbable -->
	</div>
	<!-- .navigation -->
	</div>
	<!-- .row.main-area -->
	<div class="push"></div>
	<!-- .wrapper -->
</div>
