<div class="wrapper">
	<div class="top-section">
	    <img class="logo" src="img/logo.png"/>

	    <div class="welcome_name pull-right" data-ng-controller="UserActionsController">
		<div class="dropdown help pull-right">
		    <a class="dropdown-toggle pull-right">
			<div class="question-mark">
			    <b class="fa icon-caret-down icon-on-right"></b>
			</div>
		    </a>
		    <ul class="dropdown-menu dropdown-info">
			<li>
			    <a data-toggle="tab">Link 1</a>
			</li>
			<li>
			    <a data-toggle="tab">Link 2</a>
			</li>
			<li>
			    <a data-toggle="tab">Link 3</a>
			</li>
		    </ul>
		</div>
		<div class="user-photo pull-right"></div>
		<div class="dropdown name pull-right">
		    <a class="dropdown-toggle pull-left">
			Name Here
			<b class="fa icon-caret-down icon-on-right"></b>
		    </a>
		    <ul class="dropdown-menu dropdown-info">
			<li>
			    <a data-toggle="tab" data-ng-click="clickLogOut()">Log Out</a>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
	<div class="main-area">
	<div class="navigation">
		<div class="tabbable" data-ng-controller="TabController">
			<ul class="top-nav upper nav nav-tabs inactive-border-none active-border-gray hover-inactive-tab-color-blue hover-inactive-text-white hover-active-text-blue active-text-blue inactive-text-gray tab-color-white background-white">
			    <li data-ng-class="{'active':getClass('search')}" data-ng-click="setActiveTab('search')">
				<a data-toggle="tab">Search</a>
			    </li>
			    <li data-ng-class="{'active':getClass('discovery')}" data-ng-click="setActiveTab('discovery')">
				<a data-toggle="tab">Discovery</a>
			    </li>
			    <li data-ng-class="{'active':getClass('folders')}" data-ng-click="setActiveTab('folders')">
				<a data-toggle="tab">Folders</a>
			    </li>
			    <li data-ng-class="{'active':getClass('logs')}" data-ng-click="setActiveTab('logs')">
				<a data-toggle="tab">Logs</a>
			    </li>
			    <li data-ng-class="{'active':getClass('users')}" data-ng-click="setActiveTab('users')">
				<a data-toggle="tab">Users</a>
			    </li>
			    <li data-ng-class="{'active':getClass('settings')}" data-ng-click="setActiveTab('settings')">
				<a data-toggle="tab">Settings</a>
			    </li>
			</ul>

			<div class="tab-content top-nav" data-ui-view>
			</div>
			<!-- .tab-content -->
		</div>
		<!-- .tabbable -->
	</div>
	<!-- .navigation -->
	</div>
	<!-- .row.main-area -->
	<div class="push"></div>
	</div>
	<!-- .wrapper -->
	<div class="row footer" data-ng-controller="FooterController">
	    <div class="footer-inner col-xs-12">
		    <span data-ng-show="showFooterSearchStats">
			    <span class="footer-item footer-search-total">
						<span class="label-title">
							Search Total:
						</span>
						<span class="label-content">
							{{ searchMatches | number }}
						</span>
					</span>
			    <span class="footer-item footer-after-filter" data-ng-show="showAfterFilter">
						<span class="label-title">
							| After Filter:
						</span>
						<span class="label-content">
							{{ afterFilter | number }}
						</span>
					</span>
			    <span class="footer-item footer-search-time">
						<span class="label-title">
							| Search Took 
						</span>
						<span class="label-content">
							{{ searchTime | number }}ms
						</span>
					</span>
		    </span>
		    <span class="footer-item footer-copyright">
				<span class="label-title">
					&copy; 2014 Reqo Inc
				</span>
		    </span>
		    <span class="footer-item footer-archive-total">
					<span class="label-title">
						Your Archive Total:
					</span>
					<span class="label-content">
						{{ totalMessages | number }}
					</span>
				</span>
	    </div>
</div>
