<ul class="pull-right pagination-plain text-primary" data-ng-show="showPagination && (totalPages > 1)">
	<li data-ng-hide="currentPage==1">
		<a class="pagination_prev" data-ng-click="goTo(currentPage - 1)">&lt; previous</a> |&nbsp;
	</li>
	<li class="active" data-ng-hide="currentPage==1">
		pages <a class="pagination_1" data-ng-click="goTo(currentPage - 1)">{{ currentPage - 1 }}</a>,
	</li>
	<li class="clickable" data-ng-click="editPageNumber()" title="Input page number">
		<span data-ng-hide="editingPageNumber">
			&nbsp;{{ currentPage }}<span data-ng-show="(currentPage + 1) <= totalPages">,</span>
		</span>
		<form data-ng-show="editingPageNumber" data-ng-init="newPage" data-ng-submit="goTo(newPage)">
			<input type="text" data-ng-blur="editingPageNumber = false" class="editable-page-number" data-ng-model="newPage">
			</input>
		</form>
	</li>
	<li data-ng-show="(currentPage + 1) <= totalPages">
		&nbsp;<a class="pagination_3" data-ng-click="goTo(currentPage + 1)">{{currentPage + 1 }}</a>
	</li>
	<li data-ng-show="(currentPage + 1) <= totalPages">
		&nbsp;| <a class="pagination_last" data-ng-click="goTo(currentPage + 1)">next &gt;</a>
	</li>
</ul>

