<div class="search-query">
</div>

<div class="row middlebar">
	<span class="pull-right middlebar_right pagination pagination-container">
	</span>

	<div class="matches_number blue-primary pull-left">
	</div>

	<div class="matches_number blue-primary pull-left">
		<span data-ng-show="showSearchPreviewResults && !searchProgressShow">
			<strong class="matches_number_bold">{{ searchMatches | number }}</strong>
			results<span data-ng-show="searchMatches > 0 && showSortingPanel">, sorted by 
				<span class="dropdown">
					<a title="Click for sorting options" class="dropdown-toggle sorting-panel-trigger">
					{{ getSortField() }}</a>.  
					<div class="sorting-panel dropdown-menu dropdown-info"></div>
				</span>
			</span>
		</span>

		
		<strong class="search-progress-text" data-ng-show="searchProgressShow">Searching...</strong>
	</div>

	<div class="pull-left middlebar_center">
		<div class="middlebar_center_top filter-collection">
		</div>

		<div class="middlebar_center_bottom">
		</div>
	</div>
</div>
