<div class="search-query">
</div>

<div class="row middlebar">
	<span class="pull-right middlebar_right pagination pagination-container">
	</span>

	<div class="matches_number blue-primary pull-left">
		<span data-ng-show="showSuggestions">
			Did you mean: 
			<span data-ng-repeat="suggestion in suggestions">
				<span data-ng-repeat="option in suggestion.options">
					<a data-ng-click="replaceSearchInput(suggestion.text, option)">
						{{ option }}
					</a> 
				</span>
			</span>
		</span>
	</div>

	<div class="matches_number blue-primary pull-left">
		<span data-ng-show="showSearchPreviewResults && !currentlySearching">
			<strong class="matches_number_bold">{{ searchMatches | number }}</strong>
			results, sorted by 
			<span class="dropdown">
				<a title="Click for sorting options" class="dropdown-toggle sorting-panel-trigger">
				{{ getSortField() }}</a>.  
				<div class="sorting-panel dropdown-menu dropdown-info"></div>
			</span>
			<a>Save search.</a>
		</span>

		
		<strong data-ng-show="currentlySearching">Searching...</strong>
	</div>

	<div class="pull-left middlebar_center">
		<div class="middlebar_center_top filter-collection">
		</div>

		<div class="middlebar_center_bottom">
		</div>
	</div>
</div>
