<div class="tabbable">

	<ul class="upper nav nav-tabs inactive-border-none active-border-gray hover-inactive-tab-color-blue hover-inactive-text-white hover-active-text-blue active-text-blue inactive-text-gray tab-color-white background-white" data-ng-show="isActiveTab('users')">
	    <li data-ng-show="limitedTabs" class="active">
		<a data-toggle="tab">Multi-Select</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('userview') || isModeActive('useredit') || isModeActive('useradd')}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.userview" data-ng-click="switchMode('userview', true, false)">User Details</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('usersearchhistory'), 'inactive': !currentUser}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.usersearchhistory" data-ng-click="switchMode('usersearchhistory', currentUser, true)">Search History</a>
	    </li>
	</ul>

	<ul class="upper nav nav-tabs inactive-border-none active-border-gray hover-inactive-tab-color-blue hover-inactive-text-white hover-active-text-blue active-text-blue inactive-text-gray tab-color-white background-white" data-ng-show="isActiveTab('search') || isActiveTab('discovery')">
	    <li data-ng-show="limitedTabs" class="active">
		<a data-toggle="tab">Multi-Select</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('text')}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.text" data-ng-click="switchMode('text', true, false)">Text</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('body'), 'inactive': !currentMessage}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.body" data-ng-click="switchMode('body', currentMessage, true)">HTML</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('headers'), 'inactive': !currentMessage}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.headers" data-ng-click="switchMode('headers', currentMessage, true)">Headers</a>
	    </li>
	    <li data-ng-hide="limitedTabs" data-ng-class="{'active': isModeActive('audit'), 'inactive': !currentMessage}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.audit" data-ng-show="hasRole('CAN_VIEW_AUDIT')" data-ng-click="switchMode('audit', currentMessage, true)">Audit</a>
	    </li>
	    <li data-ng-hide="limitedTabs || !isActiveTab('discovery')" data-ng-class="{'active': isModeActive('comments'), 'inactive': !currentMessage}">
		<a data-toggle="tab" data-ui-sref="loggedin.main.comments" data-ng-click="switchMode('comments', currentMessage, true)">Comments</a>
	    </li>
	</ul>
	<div class="tab-content">
		<div data-ng-show="limitedTabs" class="tab-pane in active">
			<div class="row controlbar">
			</div>
			<div class="msgview_main loading loading-centered loading-normal-text gray-6 loading-centered-thin">
				<b>{{ numSelectedMsgs }}</b> items selected<br />
				<div class="controlbar_item controlbar_item-horizontal pull-left download" data-ng-click="downloadMessage()">
					<span class="pull-left msgview_img download-lg"></span>
					<span class="pull-left controlbar_item-name">Download</span>
				</div>
				<div class="clickable clear-both" data-ng-click="unselectAll()">Cancel</div>
			</div>
		</div>
		<div data-ng-hide="limitedTabs" id="msgview" class="tab-pane in active">
			<div class="row controlbar">
			</div>
			<div class="msgview_main loading loading-centered loading-large-text" data-ng-show="showSelectMessage && !currentMessage && showContainer">
				please select message<br/>
				from the list<br/>
				to display here
			</div>
			<div class="msgview_main" data-ng-show="msgviewData && !limitedTabs"> 
				<div data-ui-view class="msgview_main_uiview">
				</div>
			</div> <!-- msgview_main -->
		</div> <!-- msgview -->
	</div>
</div>
<!-- .tabbable -->

