<div class="sorting-panel_upper">
	<div class="clickable sorting-line" data-ng-class="{'active': getSortOrder() === 'asc'}" data-ng-click="changeSortOrder('ASC')">
		<div class="sort-az pull-left"></div> 
		<span>
			Sort A to Z
		</span>
	</div>
	<div class="clickable sorting-line" data-ng-class="{'active': getSortOrder() === 'desc'}" data-ng-click="changeSortOrder('DESC')">
		<div class="sort-za pull-left"></div> 
		<span>
			Sort Z to A
		</span>
	</div>
</div>
<div class="sorting-panel_lower">
	<div class="sorting-line clickable" data-ng-class="{'active': getSortField() === 'relevance'}" data-ng-click="changeSortField('SCORE')">Relevance</div>
	<div class="sorting-line clickable" data-ng-class="{'active': getSortField() === 'date'}" data-ng-click="changeSortField('DATE')">Date</div>
	<div class="sorting-line clickable" data-ng-class="{'active': getSortField() === 'size'}" data-ng-click="changeSortField('SIZE')">Size</div>
</div>
