<div class="tab-container search-tab-container" data-ng-show="isActiveTab('search')">
	<div class="tab-pane in active wireframe tab-search">
	</div>
</div>

<div class="tab-container discovery-tab-container" data-ng-show="isActiveTab('discovery')">
	<div class="tab-pane in active wireframe tab-discovery">
	</div>
</div>

<div class="tab-container folders-tab-container" data-ng-show="isActiveTab('folders')">
	<div class="tab-pane in active wireframe tab-folders">
	</div>
</div>

<div class="tab-container logs-tab-container" data-ng-show="isActiveTab('logs')">
	<div class="tab-pane in active wireframe tab-logs">
	</div>
</div>

<div class="tab-container users-tab-container" data-ng-show="isActiveTab('users')">
	<div class="tab-pane in active wireframe tab-users">
	</div>
</div>

<div class="tab-container settings-tab-container" data-ng-show="isActiveTab('settings')">
	<div class="tab-pane in active wireframe tab-settings">
	</div>
</div>
