<div class="search-tab-container tab-container" data-ng-show="isActiveTab('search')">
</div>

<div class="discovery-tab-container tab-container" data-ng-show="isActiveTab('discovery')">
</div>

<div class="folders-tab-container tab-container" data-ng-show="isActiveTab('folders')">
</div>

<div class="logs-tab-container tab-container" data-ng-show="isActiveTab('logs')">
</div>

<div class="users-tab-container tab-container" data-ng-show="isActiveTab('users')">
</div>

<div class="settings-tab-container tab-container" data-ng-show="isActiveTab('settings')">
</div>
