<ul class="results message-list" data-ng-hide="noEntries()">
    <li class="result message-item message-item-unbordered" data-ng-repeat="(key, user) in getEntries()"
	data-ng-class="{'active-single': entryNumMatchesKey(key), 'active-multi': user.highlighted}">
	<div class="table-bordered-outer-bottom no-margin" data-ng-click="selectUser(user, key)">
		<div class="result-message">
			<div class="result-message-inner">
			    <div class="message-first-line">
				    <div class="message-icons pull-left">
					    <div class="user-photo pull-right"></div>
				    </div>
					<span class="pull-left message-sender" title="<{{message.formattedIndexedMailMessage.sender.address}}>">
				    		<span class="user-full-name">{{ user.loginUser.name }}</span>
					</span>
					<span class="pull-right message-stats">
						<span class="user-last-login pull-left message-age">Last Login: {{ user.loginUser.lastLogin }}</span>
					</span>

			    </div>
			    <div class="message-second-line">
				    <div class="message-size pull-left">
				    </div>
				    <div class="message-subject pull-left">
					<span class="user-username">Username: {{ user.loginUser.username }}</span>
				    </div>
			    </div>
			    <div class="message-recipients">
					<div class="message-recipients-line">
						<span class="user-email">Email: {{ user.loginUser.mainRecipient.address }}</span>
					</div>
					<div class="message-recipients-line user-roles">
						<span class="user-email">Roles: {{ user.roles.join(', ') }}</span>
					</div>
			    </div>
			</div>

			<div class="checkmark" data-ng-click="toggleHighlight(user, $event)">
			    <i class="img-xs checkmark-icon"></i>
			</div>
		</div>
	</div>
    </li>
</ul>
