<ul class="results message-list" data-ng-show="entries.length > 0">
    <li class="result message-item message-item-unbordered" data-ng-repeat="(key, user) in entries"
	data-ng-class="{'active-single': currentMessageNumber === key, 'active-multi': user.highlighted}">
	<div class="table-bordered-outer-bottom no-margin" data-ng-click="selectMessage(user, key)">
		<div class="result-message">
			<div class="result-message-inner">
			    <div class="message-first-line">
				    <span class="user-full-name">Name: {{ user.loginUser.name }}</span>
			    </div>
			    <div class="message-second-line">
				<span class="user-username">Username: {{ user.loginUser.username }}</span>
			    </div>
			    <div class="entries-third-line">
				<span class="user-email">Email: {{ user.loginUser.address }}</span>
			    </div>
			    <div class="entries-fourth-line">
				<span class="user-last-login">Last Login: {{ user.loginUser.lastLogin }}</span>
			    </div>
			</div>
			<div class="checkmark" data-ng-click="highlightMessage($event, user)">
			    <i class="img-xs checkmark-icon"></i>
			</div>
		</div>
	</div>
    </li>
</ul>
