<div class="main">
	<div class="dashboard">
	        <div class="pull-left sidebar-left facet-collection" data-ng-class="{'sidebar-left-short': facetAreaShort}">
	        </div>

		<div class="searchbar row">
		</div>

		<div class="row msglist">
		    <div data-ng-keydown="evalKey($event)" class="listing togrow scrollbar-hidden message-list-container results-feed">
		    </div>
		</div>
	</div>

        <div class="msgview result-detail">
        </div>
        <!-- .msgview -->
</div>
<!-- .row.main -->
<div class="row footer">
</div>
