@import "../reindeer/legacy-styles.css";

.reindeer .v-shadow .bottom-left {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(../base/shadow/img/top-left.png);
}

.reindeer .v-shadow .bottom {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	left: 5px;
	right: 5px;
	height: 10px;
	background: transparent url(../base/shadow/img/top.png);
}

.reindeer .v-shadow .bottom-right {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	right: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(../base/shadow/img/top-right.png);
}