<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.reqo.ironhold"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <!-- Storage beans -->
    <bean id="keyStoreService" class="com.reqo.ironhold.storage.security.LocalKeyStoreService" scope="singleton">
        <constructor-arg type="java.io.File" value="${data.root}data/keystore"/>
    </bean>
    <bean id="mimeMailMessageStoreService" class="com.reqo.ironhold.storage.LocalMimeMailMessageStorageService"
          scope="singleton">
        <constructor-arg type="java.io.File" value="${data.root}data"/>
        <constructor-arg type="com.reqo.ironhold.storage.security.IKeyStoreService" ref="keyStoreService"/>
    </bean>

    <!-- ES beans -->
    <bean id="indexClient" class="com.reqo.ironhold.storage.es.IndexClient" scope="singleton">
        <constructor-arg type="java.lang.String" value="WebApp"/>
    </bean>
    <bean id="messageIndexService" class="com.reqo.ironhold.storage.MessageIndexService" scope="singleton">
        <constructor-arg type="com.reqo.ironhold.storage.es.IndexClient" ref="indexClient"/>
    </bean>
    <bean id="metaDataIndexService" class="com.reqo.ironhold.storage.MetaDataIndexService" scope="singleton">
        <constructor-arg type="com.reqo.ironhold.storage.es.IndexClient" ref="indexClient"/>
    </bean>
    <bean id="miscIndexService" class="com.reqo.ironhold.storage.MiscIndexService" scope="singleton">
        <constructor-arg type="com.reqo.ironhold.storage.es.IndexClient" ref="indexClient"/>
    </bean>

    <!-- Web components -->
    <bean id="ui" class="com.reqo.ironhold.web.IronholdApplication" scope="prototype">
    </bean>

  <!--  <bean id="searchWindow" class="com.reqo.ironhold.web.components.SearchWindow" scope="prototype">
        <constructor-arg ref="searchResults"/>
        <constructor-arg ref="searchBar"/>
    </bean>

    <bean id="searchResults" class="com.reqo.ironhold.web.components.SearchResults" scope="prototype">
        <constructor-arg ref="emailPreview"/>
    </bean>

    <bean id="searchBar" class="com.reqo.ironhold.web.components.SearchBar" scope="prototype">
        <constructor-arg ref="searchTextField"/>
    </bean>

    <bean id="searchTextField" class="com.reqo.ironhold.web.components.SearchTextField" scope="prototype">
        <constructor-arg ref="searchResults"/>
    </bean>

    <bean id="emailPreview" class="com.reqo.ironhold.web.components.EmailPreviewPanel" scope="prototype">

        <constructor-arg ref="htmlView"/>
        <constructor-arg ref="textView"/>
        <constructor-arg ref="sourceView"/>
        <constructor-arg ref="auditView"/>
    </bean>

    <bean id="htmlView" class="com.reqo.ironhold.web.components.EmailView" scope="prototype">
        <constructor-arg type="boolean" value="true"/>
    </bean>

    <bean id="textView" class="com.reqo.ironhold.web.components.EmailView" scope="prototype">
        <constructor-arg type="boolean" value="false"/>
    </bean>

    <bean id="sourceView" class="com.reqo.ironhold.web.components.SourceView" scope="prototype"/>

    <bean id="auditView" class="com.reqo.ironhold.web.components.AuditView" scope="prototype"/>
                 -->
</beans>