html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body a {
	color: #2e69b3;
}

body {
	position: absolute;
	bottom: 19px;
	width: 100%;
	top: 0px;
	overflow: auto;
	min-height: 94% !important;
	height: auto;
}

body .text-primary {
	color: #2e69b3;
}

.background-white {
	background-color: #fff;
}

.page-loading {
	width: 100%;
	height: 100%;
}

.form-search .input-group .search-input {
	height: 18px;
	padding: 0px;
	margin: 8px 0px 8px 10px;
	border: 0px;
	/*border-right: 1px solid #b5b5b5;*/
	font-weight: bold;
	line-height: 16px;
}

.form-search .input-group .search-input.search-field {
	background-color: transparent;
}

.form-search .input-group:focus {
	border-color: #42BCF5 !important;
}

.form-search .input-group:hover,
.form-search .input-group.active {
	background-color: #DFEDFA;
}

.main-area,
.main-area > .navigation,
.main-area > .navigation > .tabbable,
.main-area > .navigation > .tabbable > .tab-content,
.main-area > .navigation > .tabbable > .tab-content > .tab-pane {
	height: 100%;
}

#tab-discovery {
	position: relative;
}

#tab-discovery, 
.top-nav > .tab-content, 
.main-area, 
.main-area .tabbable, 
.main-area .navigation, 
.wrapper {
	min-width: 1230px;
	width: 100%;
	min-height: 768px;
}

.main-area {
	position: absolute;
	width: 100%;
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -19px;
}

.push {
	clear: both;
	height: 19px;
}

/* splitter */
.main {
	position: absolute !important;
	bottom: 0px;
	min-width: 1230px;
	width: 100%;
	height: auto;
	top: 0px;
/*	bottom: 57px;
	top: 12px;
	right: 0px;
	left: 0px;
*/
}

.splitter-bar {
	width: 5px;
	cursor: ew-resize;
}

.splitter-bar-vertical.ui-state-highlight {
	border-left: 1px dashed #58585a;
	border-right: 1px dashed #58585a;
	width: 5px;
}

/* msgview */
.msgview {
	position: absolute;
	right: 0px;
	bottom: 19px;
	top: 0px;
	overflow: hidden !important;
	padding-left: 0px;
}

.msgview .scrollbar-hidden,
.msgview .scrollbar-hidden .jspContainer,
.msgview .scrollbar-hidden .jspPane {
	width: 100% !important;
}

.msgview .scrollbar-hidden > .jspContainer > .jspPane {
	padding-top: 0px !important;
}

.msgview > .tabbable > .tab-content {
	right: 0px;
	left: 0px;
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	top: 32px;
	padding-top: 0px;
}

.msgview .label {
	color: #fff;
	font-weight: bold;
	margin: 2px 0px;
	font-size: 11px;
	padding: 3px 2px;
	width: 37px;
	text-align: left;
	background-color: #b1b1b1 !important;
}

.msgview .label-content {
	overflow: hidden;
	font-size: 11px;
	min-height: 19px;
	height: 19px;
	margin-bottom: 5px;
	margin-top: 2px;
}

.msgview_top {
	margin: 0px 0px;
}

.msgview_top .from-picture-container {
	position: absolute;
	width: 37px;
}

.msgview_top .header-container {
	height: 36px;
	margin-bottom: 11px;
	width: 100%;
	padding-left: 48px;
	word-wrap: break-word;
}

.msgview_subject {
	font-size: 18px;
	line-height: 15px;
	height: 21px;
	overflow: hidden;
}

.msgview_date {
	height: 22px;
	overflow: hidden;
	font-size: 15px;
	line-height: 10px;
	margin: 2px 0px 0px 0px;
}

.msgview_main {
	margin-top: 10px;
}

.msgview_top h3 {
	margin: 0px;
}

.message-header {
	position: relative;
}

.msgview_bottom {
	background-color: #fff;
	border-top: 1px solid #c5d0dc;
	margin-top: 25px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.msgview_bottom .icon-container {
	width: 36px;
	position: absolute;
}

.msgview_bottom .attachment-text {
	margin-left: 50px;
}

.msgview_bottom .widget-box .widget-header {
	position: absolute;
	right: 0px;
	z-index: 1;
}

.msgview_bottom .widget-box .widget-header .widget-toolbar {
	line-height: 0px;
	height: 17px;
}

.msgview_middle {
	position: relative;
	margin: 0px 0px;
}

.msgview_middle .jspContainer {
	height: 100% !important;
}

.msgview_middle .scrollable-content {
	width: 100%;
	padding-right: 15px;
}

.msgview_middle .header-info td {
	vertical-align: top;
	word-wrap: break-word;
}

.msgview_middle .message-body-container {
	margin-top: 30px;
	width: 100%;
	padding-left: 48px;
	word-wrap: break-word;
}

.msgview_bottom .attachments-minimal {
	display: none;
}

.msgview_bottom .collapsed .attachments-minimal {
	display:inline-block;
}

.msgview .expandable-toggle {
	padding-right: 12px;
}

/* message-list */
.message-item.message-item-unbordered {
	border: 0px;
}

/* carets */
.icon-four-thirty-up {
	background: url(../img/sprites/carets.png) 0px 1px !important;
	width:6px !important;
	height:7px !important;
	float:left;
	margin-bottom: 2px;
}

.icon-four-thirty-down {
	background: url(../img/sprites/carets.png) 1px -6px !important;
	width:6px !important;
	height:7px !important;
	float:left;
	margin-bottom: 2px;
}

/* icon */
.msgview_img {
	width: 32px;
	height: 32px;
}

.msgview_img-xl {
	width: 36px;
	height: 36px;
}

.msgview_img-sm {
	width: 16px;
	height: 16px;
	margin: 0px 5px;
}

.user-photo {
	margin: 0px 10px;
	width: 32px;
	height: 32px;
	background-color: gray;
}

.question-mark {
	margin-top: 10px;
	width: 16px;
	height: 14px;
	background: url(../img/sprites/msgview_icons.png) -4px -82px;
}

.flag-lg {
	background: url(../img/sprites/msgview_icons.png) 0px 0px;
}

.forward-lg {
	background: url(../img/sprites/msgview_icons.png) -32px 0px;
}

.archive-lg {
	background: url(../img/sprites/msgview_icons.png) 0px -32px;
}

.tiles-lg {
	background: url(../img/sprites/msgview_icons.png) -30px -32px;
}

.cal-invite-sm {
	background: url(../img/sprites/msgview_icons.png) -27px -66px;
}

.cal-phone-sm {
	background: url(../img/sprites/msgview_icons.png) -2px -66px;
}

.im-sm {
	background: url(../img/sprites/msgview_icons.png) -47px -66px;
}

.empty-photo {
	background: url(../img/sprites/msgview_icons.png) -64px 0px;
}

.attachment-img {
	background: url(../img/sprites/msgview_icons.png) -64px -46px;
}

.img-xs {
	width: 15px;
	height: 15px;
	display: block;
}

.attachment-img-xs {
	background: url(../img/sprites/email_icons.png) 0px 0px;
}

.envelope-img-xs {
	background: url(../img/sprites/email_icons.png) -15px 0px;
}

.flag-img-xs {
	background: url(../img/sprites/email_icons.png) -15px 15px;
}

/* btn */
.btn-group-ironhold .btn-left {
	background: url(../img/sprites/btn-group.png) 0px 0px;
	width: 75px;
	height: 34px;
}

.btn-group-ironhold .btn-middle {
	background: url(../img/sprites/btn-group.png) -74px 0px;
	width: 74px;
	height: 34px;
}

.btn-group-ironhold .btn-right {
	background: url(../img/sprites/btn-group.png) -147px 0px;
	width: 75px;
	height: 34px;
}

/* table */
.table.no-margin {
	margin: 0px;
}

.table.table-bordered-outer {
	border: 1px solid #ddd;
}

.table.table-bordered-outer-bottom {
	border-bottom: 1px solid #ddd;
}

.table.table-bordered-outer-bottom:hover, .active .table.table-bordered-outer-bottom {
	border-bottom: 0px;
}

.table.table-hover-bordered-outer:hover, .result.active .table-hover-bordererd-outer .table {
	border: 1px solid #2e69b3;
	border-bottom:0px;
}

.table.table-bordered-outer tbody > tr > td, .table.table-bordered-outer tbody > tr {
	border: 0px;
}

.table.table-bordered-outer-bottom tbody > tr > td, .table.table-bordered-outer-bottom tbody > tr {
	border: 0px;
}

.table tbody > tr > td {
	padding: 0px 4px 4px 4px;
}

/* navbar */
.navbar.navbar-white {
	background-color: #fff;
}

/* navigation */
.navigation {
	position: relative;
	height: 61px;
}

.navbar .form-search {
	margin-top: 20px;
}

.navigation .logo {
	margin-left: 3px;
	margin-top: 5px;
}

.navigation .welcome_name {
	margin-top: 12px;
}

.navigation .top-nav.nav-tabs {
	line-height: 14px;
	margin-top: -34px;
	margin-left: 221px;
}

.navigation .top-nav.tab-content {
	position:relative;
	border: 0px;
	padding: 12px 0px 0px 0px;
}

.navigation .nav-tabs > li > a {
	line-height: 14px;
}

/* searchbar */
.searchbar .input-history {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 23px;
}

.searchbar .input-history .dropdown-toggle {
	position: absolute;
	right: 7px;
	top: 7px;
}

.searchbar .input-history .dropdown-menu {
	margin-top: 10px;
	width: 100%;
}

.searchbar .input-history li {
	margin: 0px 10px;
}

.searchbar .input-container {
	position: relative;
}

.searchbar {
	margin-left: -1px;
	height: 37px;
}

.searchbar .input-group {
	border: 1px solid #2e69b3;
}

.searchbar .search-tags {
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	width: 213px;
}

.searchbar .search-query {
	position: absolute;
	right: 0px;
	left: 224px;
	width: auto;
	padding-left: 0px;
}

.searchbar .btn.btn-link.btn-sm {
	line-height: 18px !important;
	color: #aaa !important;
	padding: 4px 8px 4px 0px !important;
}

.searchbar .search-query .input-group {
	border-left: 0px;
}

/* pagination */
.pagination.pagination-background-white > li > a {
	background-color: #fff;
}

/* middlebar */
.middlebar {
	padding-bottom: 7px;
	margin-left: 0px;
	margin-right: 1px;
}

.middlebar .btn-group .btn {
	font-size: 23px;
	line-height: 25px;
	padding: 2px 12px;
	width: 70px;
	height: 33px;
	border-width: 1px !important;
	border-color: rgb(175, 175, 175);
	background-color: #F3f2f2 !important;
}

.middlebar .btn-group .btn > i {
	color: #adadad !important;
	text-shadow: 1px 1px #868686;
}

.middlebar .btn-group .btn i.icon-caret-down {
	margin-top: 7px;
	float: right;
	font-size: 14px;
}

.middlebar .btn-group .btn > a {
	text-shadow: 1px 1px #868686;
	color: #adadad;
	text-decoration: none;
}

.middlebar_center {
/*
	position: absolute;
	width: auto;
	right: 0px;
	left: 224px;	
*/	margin-left: 13px;
}

.middlebar .pagination-container {
	margin-top: 17px;
}

.middlebar .pagination > li.active > a, .middlebar .pagination > li.active > a:hover {
	background-color: #2e69b3;
	border-color: #2e69b3;
}

.middlebar .pagination > li > a, .middlebar .pager > li > a {
	color: #2e69b3;
}

/* msgview controlbar */
.controlbar {
	border-bottom: 1px solid #c5d0dc;
	height: 62px;
	width: auto;
	overflow: hidden;
}

.controlbar_section .vert-div {
	height: 78px;
	width: 1px;
	background-color: #c5d0dc;
	position: absolute;
	right: 0px;
	top: 2px;
	bottom: 2px;
}

.controlbar_section {
	position: relative;
	min-height: 50x;
}

.controlbar_item {
	margin: 5px 5px;
	width: 80px;
	text-align: center;
}

.controlbar_item .icon-caret-down {
	position: absolute;
	margin-top: 3px;
	right: 0px;
}

.controlbar-group-row .icon-caret-down {
	right: -10px;
}

.controlbar_item-name {
	margin: 0px 10px;
}

.controlbar-group-row .controlbar_item-name {
	margin: 0px 0px;
}

.controlbar-group-row {
	text-align: left;
	margin: 0px;
}

.controlbar .msgview_img {
	margin: auto;
}

/* attachments */
.attachments .collapsed .attachment {
	min-height: 60px;
	padding: 0px;
}

.attachments .attachment-img-xs {
	width: 14px;
	height: 14px;
}

.attachments .attachment {
	background-color: #fff;
	min-height: 60px;
	padding: 10px 0px;
	border-bottom: 1px solid #c5d0dc;
}

.attachments-minimal .attachments .attachment {
	min-height: 36px;
	height: 36px;
	padding: 0px;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.attachments-minimal .attachment-text {
	line-height: 33px;
}

.attachments .attachment.last {
	border: 0px;
}

.matches {
	margin-top: 20px;
}

.pagination {
	margin: 0px;
}

.pagination li a {
	padding: 2px 7px;
}

body ul {
	list-style: none;
	margin: 0px;
}

/* msglist */
.msglist {
	position: absolute !important;
	top: 94px;
	bottom: 0px;
	border-top: 1px solid #c5d0dc;
	right: 0px;
	left: 0px;
}

.msglist.docked .sidebar-left {
	min-width: 0px;
	width: 25px !important;
}

.msglist.docked .filter-list {
	display: none;
}

.msglist.docked .message-list-container {
	margin-left: 25px !important;
}

.msglist .message-list-container {
	position: absolute;
	right: 12px;
	width: auto !important;
	margin-left: 237px;
	padding-top: 10px;
	min-height: 220px;
	top: 0px;
	bottom: 0px;
	overflow: scroll;
	left: 0px;
}

.msglist .message-list-container .jspContainer {
	width: 100% !important;
	height: 100% !important;
}

.msglist .message-list-container .jspPane {
	width: 100% !important;
}

/* jScrollPane */
.jspScrollable:focus {
	outline-color: transparent !important;
}

.jspTrack {
	background: transparent !important;
}

.jspVerticalBar {
	background: url(../img/sprites/scrollbar_middle.png) repeat-y !important;
	width: 10px !important;
}

.jspHorizontalBar {
	background: url(../img/sprites/scrollbar_middle_horiz.png) repeat-x !important;
	height: 10px !important;
}

.jspDrag {
	background-color: #58585a !important;
}

.jspArrowLeft {
	background: url(../img/sprites/scrollbar_arrows_horiz.png) 0px 0px !important;
}

.jspArrowLeft:hover {
	background: url(../img/sprites/scrollbar_arrows_horiz.png) 16px 0px !important;
}

.jspArrowRight {
	background: url(../img/sprites/scrollbar_arrows_horiz.png) 0px 16px !important;
}

.jspArrowRight:hover {
	background: url(../img/sprites/scrollbar_arrows_horiz.png) 16px 16px !important;
}

.jspArrowUp {
	background: url(../img/sprites/scrollbar_arrows.png) 16px 0px !important;
}

.jspArrowUp:hover {
	background: url(../img/sprites/scrollbar_arrows.png) 16px 16px !important;
}

.jspArrowDown {
	background: url(../img/sprites/scrollbar_arrows.png) 0px 0px !important;
}

.jspArrowDown:hover {
	background: url(../img/sprites/scrollbar_arrows.png) 0px 16px !important;
}

/* results */
.results {
	margin-left: 15px;
	font-size: 11px;
	margin-right: 31px;
}

.results .result {
	background-color: #fff;
	padding: 0px;
	cursor: pointer;
/*	border-bottom: 1px solid #c5d0dc;*/ 
}

.results .result.active-multi {
	background-color: #DAE4F1;
}

.results .result.active-single {
	background-color: #CAD9EB;
}

.result .message-icons {
	color: rgb(155, 155, 155);
	font-size: 16px;
	text-align: right;
}

.result .message-sender,
.result .message-subject,
.result .message-date, 
.result .message-size {
	font-size: 12px;
}

.result .message-flag {
	font-size: 16px;
	color: rgb(155, 155, 155);
}

.result .checkmark {
	width: 18px;
	padding-left: 3px;
	padding-right: 3px;
	visibility: hidden;
	vertical-align: middle;
	background-color: transparent;
	color: rgb(158, 157, 157);
}

.result .checkmark:hover {
	background-color: #4f99c6;
	visibility: visible;
	color: #fff;
}

.result:hover .checkmark {
	visibility: visible;
}

.result.active-single .checkmark, .result.active-single:hover .checkmark {
	background-color: transparent;
	visibility: visible;
	color: rgb(158, 157, 157);
}

.result.active-multi .checkmark, .result.active-multi:hover .checkmark {
	background-color: transparent;
	visibility: visible;
	color: rgb(158, 157, 157);
}

.result .dropdown-header {
	padding: 0px;
}

.result .collapsed .widget-body,
.result .collapsed .widget-body-inner {
	display: block !important;
}

.result .widget-header {
	font-size: 11px;
	padding-top: 1px;
	line-height: 0px;
	padding-right: 5px;
}

.result .widget-toolbar > a {
	line-height: 10px;
	font-size: 11px;
}

.result .dropdown-title {
	color: #58585a;
	line-height: 13px;
	float: right;
}

.result .dropdown-title {
	float: left;
	display: inline-block;
}

.result .widget-header > .widget-toolbar {
	margin-top: 3px;
	line-height: 9px;
}

/* welcome_name */
.welcome_name {
	line-height: 32px;
	position: absolute;
	z-index: 13;
	top: 3px;
	width: 200px;
	right: 11px;
}

.welcome_name .question-mark {
	padding-left: 15px;
	line-height: 14px;
}

/* dashboard */
.dashboard {
	overflow: hidden !important;
	position: absolute;
	bottom: 19px;
	top: 0px;
	padding-right: 0px;
}

/* sidebar-left (facet panel) */
.sidebar-left {
	min-width: 237px;
	border-right: 1px solid #c5d0dc;
	height: 100%;
	padding-left: 0px;
	margin-left: 0px;
	width: 237px;
	background-color: #f8f8f8;
	padding-right: 0px;
}

.sidebar-left .ironhold-tooltip {
	color: #58585a;
	text-decoration: none;
}

.sidebar-left .tooltip {
	top: 18px !important;
}

.sidebar-left .tooltip-arrow {
	display: none;
}

.sidebar-left .widget-header {
	padding-left: 9px;
}

.sidebar-left .widget-header > :first-child {
	line-height: 20px;
}

.sidebar-left .toggle {
	line-height: 8px;
	padding: 0px 3px;
	cursor: pointer;
}

.sidebar-left .filter-list {
	left: 12px;
	position: absolute;
	width: 224px;
	bottom: 0px;
	top: 15px;
/*	background-color: #f3f3f3; */
}

.sidebar-left .filter-list .jspPane {
	width: auto !important;
	left: 0px;
	right: 0px;
}

.sidebar-left .filter-list .widget-header {
	padding-left: 10px !important;
}

.sidebar-left .filter-list > li {
/*	margin-top:-18px; */
}

.sidebar-left .nav-list a {
	text-transform: uppercase;
}

.footer {
	position:fixed;
	bottom: 0px;
	z-index: 12;
	width: auto;
	left: 0px;
	right: 0px;
/*
	position: absolute;
	width: 100%;
	bottom: 0px;
	clear: both;
*/	height: 19px;
	background-color: #2e69b3;
	color: #fff;
	text-transform: uppercase;
}

/* nav-list */
.nav-list.nav-list-simple > li {
	border: 0px;
}

.nav-list.nav-list-simple > li > a {
	line-height: 15px;
	height: auto;
	padding: 5px 0px 5px 0px;
	background-color: transparent;
}

.nav-list.nav-list-simple > li > a:hover {
	background-color: transparent;
	color: #58585a;
}

.nav-list.nav-list-simple > li > a:hover:before {
	background-color: transparent;
}

.nav-list.nav-list-simple > .open > a, .nav-list.nav-list-simple > .open > a:hover {
	background-color: transparent;
	color: #58585a;
}

.nav-list.nav-list-simple > li > a > [class*="icon-"]:first-child {
	min-width: 13px;
	width: 13px;
}

.nav-list.nav-list-simple > li .submenu {
	background-color: transparent;
	border: 0px;
	margin: 0px;
}

.nav-list.nav-list-simple > li .submenu:before {
	border: 0px;
}

.nav-list.nav-list-simple > li > .submenu > li:before {
	border-top: 0px;
}

/* filter */
.filter {
	padding: 0px 0px 0px 4px;
	line-height: 18px;
	float: left;
	width: 100%;
	cursor: pointer;
	position: relative;
}

.filter .filter-value {
	position: absolute;
	top: 0px;
	right: 15px;
}

.filter .checkbox {
	visibility: hidden;
	width: 10px;
	height: 13px;
	min-height: 13px;
	margin: 2px 2px 0px 6px;
	padding: 0px;
	line-height: 1px;
	font-size: 11px;
/*	border: 2px solid #2e69b3; */ 
}

.filter .checkbox .icon-check {
	line-height: 15px;
	margin-left: -1px;
	visibility:hidden;
}

.filter:hover .checkbox {
	visibility: visible;
}

.filter:hover .checkbox .icon-check {
	color: #b1b1b1;
	visibility: visible;
}

.filter.active:hover .checkbox .icon-check {
	color: #58585a;
	visibility: visible;
}

.filter.active .checkbox .icon-check {
	color: #b1b1b1;
	visibility: visible;
}

.filter-name {
	width: 75%;
	display: block;
	overflow: hidden;
	height: 21px;
	margin-left: 0px;
	margin-right: 5px;
}

.sidebar-left .filter-list .filter-list-name {
	text-transform: uppercase;
	color: #58585a;	
}

.sidebar-left .widget-toolbar i {
	cursor: pointer;
}

.sidebar-left .widget-toolbar .filter-list-name {
	margin-left: 13px;
}

.filter-container .active {
	font-weight: bold;
	background-color: rgb(216, 216, 216);
}

/* widget-box */
.widget-box.widget-box-simple .widget-header > :first-child {
	padding-right: 3px;
}

.widget-box.widget-box-simple {
	margin: 0px;
	border-bottom: 0px;
}

.widget-box.widget-box-simple .widget-header {
	min-height: 13px;
	padding-left: 4px;
	border: 0px;
	background: transparent;
}

.widget-box.widget-box-simple .widget-toolbar:before {
	border: 0px;
}

.widget-box.widget-box-simple .widget-toolbar {
	float: left;
	padding: 0px;
}

.widget-box.widget-box-simple .widget-body {
	background-color: transparent;
	border: 0px;
}

.widget-box.widget-box-simple .widget-main{
	padding: 0px;
}

/* nav-tabs */
.nav-tabs {
	font-weight:bold;
}

.nav-tabs[class*="tab-color"].inactive-text-gray > li > a {
	color: #58585a;
}

.nav-tabs[class*="tab-color"].active-text-blue > li.active > a {
	color: #2e69b3;
}

.nav-tabs[class*="tab-color"].hover-inactive-text-white > li:hover > a {
	color: white;
}

.nav-tabs[class*="tab-color"].hover-active-text-blue > li.active:hover > a {
	color: #2e69b3;
}

.nav-tabs[class*="tab-color"].hover-inactive-tab-color-blue > li:hover > a {
	background-color: #2e69b3;
}

.nav-tabs[class*="tab-color"].active-border-gray > li.active > a {
	border-left: 1px solid #c5d0dc;
	border-top: 1px solid #c5d0dc;
	border-right: 1px solid #c5d0dc;
}

.nav-tabs[class*="tab-color"].inactive-border-none > li > a {
	border: 0px;
}

.nav-tabs[class*="tab-color"].tab-color-white > li > a {
	background-color: #fff;
}

/* fonts */
.gray-medium {
	color: rgb(158, 157, 157);
}

.gray-dark {
	color: #58585a;
}

.blue-hilite {
	background-color: #C5DDF0;
	color: #58585a;
}

.upper {
	text-transform: uppercase;
}


