.login-layout .login-container > .position-relative > .widget-box {
	margin: 5% auto auto auto;
	width: 400px;
}

.login-layout.login-layout-white {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #F8F8F8;

}

.login-layout.login-layout-white .widget-box {
	background-color: #F8F8F8;
}


.login-layout.login-layout-white .widget-box .widget-main form {
	margin-top: 105px;
}

.login-layout.login-layout-white .widget-box .widget-main {
	padding-top: 38px;
}

.login-layout.login-layout-white .widget-body {
	border: 1px solid #ccc;
}

.login-layout.login-layout-white .widget-body .header {
	border-bottom: 1px solid #58595B;
}

.login-layout.login-layout-white .widget-body .lbl:hover:before {
	border-color: #2E69B3; 
}

.login-layout.login-layout-white .widget-body .lbl:before{
	margin-top: -6px;
}

.login-layout.login-layout-white .widget-body .lbl {
	margin-top: 7px;
	line-height: 50px;
}

.login-layout.login-layout-white .background-white {
	background-color: #FFF !important;
}

.login-layout .login-container .btn-primary {
	background-color: #2E69B3 !important;
	border-color: #2E69B3;
	font-size: 16px;
}

.login-layout .login-container .header {
	color: #2E69B3;
}

.login-layout .login-container .toolbar {
	background-color: #58595b;
	border: none;
}

.login-layout .login-container a {
	font-weight: normal;
	color: #FFF;
}
