<div id="msgview-sources" class="msgview-sources tab-pane in active" data-ng-click="switchMode('sources')">
        <div class="row controlbar">
        </div>
	<span data-ng-show="modeData.sources.length === 0">
		No Audit data available.
	</span>
<!--
	<table class="table table-striped table-hover">
		<tr data-ng-repeat="row in modeData.audit">
			<td></td>
		</tr>
	</table>
-->
	<span data-ng-repeat="source in modeData.sources" data-ng-show="modeData.sources">
		<table class="table table-striped table-hover" data-ng-repeat="sourceEntry in source">
			<thead>
				<th>Key</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="(rowKey, rowValue) in source">
					<td> {{ rowKey }} </td>
					<td> {{ rowValue }} </td>
				</tr>
			</tbody>
		</table>
	</span>
</div>
