<div class="row msgview_middle sub-tab-content scrollbar-hidden">
        <div class="scrollable-content sub-tab-content-inner">
            <div class="message-header">
            </div>

            <div class="pull-right message-body-container">
		
		<div>
			<p>Message ID: {{ currentMessage.formattedIndexedMailMessage.messageId }}</p>
		</div>
		<div>
			Message Source
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<th>Timestamp</th>
				<th>Hostname</th>
				<th>PST File</th>
				<th>Folder</th>
				<th>PST File Size</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="source in modeData.sources">
					<td> {{ source.loadTimestamp }} </td>
					<td> {{ source.hostname }} </td>
					<td> {{ source.pstFileName }} </td>
					<td> {{ source.folder }} </td>
					<td> {{ source.size }} </td>
				</tr>
			</tbody>
		</table>

		<div>
			Audit Log
		</div>
		<table class="table table-striped table-hover" daa-ng-repeat="audit in modeData.audit">
			<thead>
				<th>Timestamp</th>
				<th>Entry</th>
			</thead>
			<tbody>
				<tr>
					<th> </th>
					<th> </th>
				</tr>
			</tbody>
		</table>
	
		</div> <!-- pull-right -->

        </div>
        <!-- .scrollable-content -->
</div>
