<span data-ng-show="showPreviewToolbar">
	<span class="pull-left controlbar_section">
		<span class="controlbar_item pull-left download" data-ng-click="downloadMessage()"></div>
			<div class="pull-left msgview_img-xs download-sm"></div>
			<div class="pull-right controlbar_item-name">Download</div>
		</span>
	</span>
<!--
	<span class="pull-left controlbar_section">
		<a class="controlbar_item pull-left forward">
			<div class="msgview_img flag-yellow-lg"></div>
			<div class="pull-right controlbar_item-name">Require Action</div>
		</a>

		<div class="vert-div"></div>
		<span class="dropdown pull-left controlbar_item follow-up">
			<a class="dropdown-toggle">
				<div class="msgview_img checkmark-circle-lg"></div>
				<div class="pull-right controlbar_item-name">Finish Review</div>
				<b class="fa icon-caret-down icon-on-right pull-right"></b>
			</a>
			<ul class="dropdown-menu dropdown-info">
				<li>
					<a data-toggle="tab">Link 1</a>
				</li>
				<li>
					<a data-toggle="tab">Link 2</a>
				</li>
			</ul>
		</span>
	</span>

	<span class="pull-left controlbar_section">
		<span class="controlbar_item controlbar-group-vertical pull-left">
			<div class="controlbar-group-row row">
				<a class="controlbar-group_item meeting">
					<div class="msgview_img-sm lock-purple-sm pull-left"></div>
					<div class="pull-left controlbar_item-name">Personal</div>
				</a>
			</div>
			<div class="controlbar-group-row row">
				<span class="dropdown controlbar-group_item im">
					<a class="dropdown-toggle">
						<div class="msgview_img-sm lock-gold-sm pull-left"></div>
						<div class="pull-left controlbar_item-name">Privileged</div>
					</a>
				</span>
			</div>
			<div class="controlbar-group-row row">
				<span class="dropdown controlbar-group_item more">
					<a class="dropdown-toggle">
						<div class="msgview_img-sm lock-red-sm pull-left"></div>
						<div class="pull-left controlbar_item-name">Restricted</div>
					</a>
				</span>
			</div>
		</span>
	</span>

	<span class="controlbar_section pull-left">
		<a class="controlbar_item pull-left forward">
			<div class="msgview_img folder-red-lg"></div>
			<div class="pull-right controlbar_item-name">Open Case</div>
		</a>

		<a class="controlbar_item pull-left forward">
			<div class="msgview_img folder-close-lg"></div>
			<div class="pull-right controlbar_item-name">Dismiss Case</div>
		</a>

		<a class="controlbar_item pull-left forward">
			<div class="msgview_img folder-checkmark-lg"></div>
			<div class="pull-right controlbar_item-name">Close Case</div>
		</a>

		<div class="vert-div"></div>
	</span>

	<span class="controlbar_section pull-left">
		<a class="controlbar_item pull-left forward">
			<div class="msgview_img file-new-lg"></div>
			<div class="pull-right controlbar_item-name">New Comment</div>
		</a>

		<div class="vert-div"></div>
	</span>
-->
</span>
