<span data-ng-show="showPreviewToolbar">
	<span class="controlbar_left pull-left controlbar_section">
		<span class="dropdown pull-left controlbar_item follow-up">
			<a class="dropdown-toggle">
				<div class="msgview_img flag-lg"></div>
				<div class="pull-right controlbar_item-name">Follow Up</div>
				<b class="fa icon-caret-down icon-on-right pull-right"></b>
			</a>
			<ul class="dropdown-menu dropdown-info">
				<li>
					<a data-toggle="tab">Link 1</a>
				</li>
				<li>
					<a data-toggle="tab">Link 2</a>
				</li>
			</ul>
		</span>
		<a class="controlbar_item pull-left forward">
			<div class="msgview_img forward-lg"></div>
			<div class="pull-right controlbar_item-name">Forward</div>
		</a>
		<div class="vert-div"></div>
	</span>
	<span class="controlbar_middle controlbar_section pull-left">
		<span class="dropdown controlbar_item assign-policy pull-left">
			<a class="dropdown-toggle">
				<div class="msgview_img archive-lg"></div>
				<div class="pull-left controlbar_item-name">Assign Policy</div>
				<b class="fa icon-caret-down pull-right icon-on-right"></b>
			</a>
			<ul class="dropdown-menu dropdown-info">
				<li>
					<a data-toggle="tab">Link 1</a>
				</li>
				<li>
					<a data-toggle="tab">Link 2</a>
				</li>
			 </ul>
		</span>
		<span class="dropdown controlbar_item categorize pull-left">
			<a class="dropdown-toggle">
				<div class="msgview_img tiles-lg"></div>
				<div class="controlbar_item-name pull-right">Categorize</div>
				<b class="fa icon-caret-down icon-on-right pull-right"></b>
			</a>
			<ul class="dropdown-menu dropdown-info">
				<li>
					<a data-toggle="tab">Link 1</a>
				</li>
				<li>
					<a data-toggle="tab">Link 2</a>
				</li>
			</ul>
		</span>
		<span class="controlbar_item controlbar-group-vertical pull-left">
			<div class="controlbar-group-row row">
				<a class="controlbar-group_item meeting">
					<div class="msgview_img-sm cal-invite-sm pull-left"></div>
					<div class="pull-right controlbar_item-name">Meeting</div>
				</a>
			</div>
			<div class="controlbar-group-row row">
				<span class="dropdown controlbar-group_item im">
					<a class="dropdown-toggle">
						<div class="msgview_img-sm im-sm pull-left"></div>
						<div class="pull-left controlbar_item-name">IM</div>
						<b class="fa icon-caret-down pull-right icon-on-right"></b>
					</a>
					<ul class="dropdown-menu dropdown-info">
						<li>
						    <a data-toggle="tab">Link 1</a>
						</li>
						<li>
						    <a data-toggle="tab">Link 2</a>
						</li>
					    </ul>
				</span>
			</div>
			<div class="controlbar-group-row row">
				<span class="dropdown controlbar-group_item more">
					<a class="dropdown-toggle">
						<div class="msgview_img-sm cal-phone-sm pull-left"></div>
						<div class="pull-left controlbar_item-name">More</div>
						<b class="fa icon-caret-down pull-right icon-on-right"></b>
					</a>
					<ul class="dropdown-menu dropdown-info">
						<li>
						    <a data-toggle="tab">Link 1</a>
						</li>
						<li>
						    <a data-toggle="tab">Link 2</a>
						</li>
					</ul>
				</span>
			</div>
		</span>
		<div class="vert-div"></div>
	</span>
</span>
