<div data-ng-show="showPreviewToolbar">
	<div class="pull-left controlbar_section">
		<div data-ng-show="isActiveTab('search') || isActiveTab('discovery')">
			<div class="controlbar_item pull-left download" data-ng-click="downloadMessage()">
				<div class="msgview_img download-lg"></div>
				<div class="pull-right controlbar_item-name">Download</div>
			</div>
		</div>
		<div data-ng-show="isActiveTab('users')">
			<div data-ng-show="isState('useredit')" class="controlbar_item pull-left" data-ng-click="submitUser(currentUser)">
				<div class="msgview_img saveuser-lg"></div>
				<div class="pull-right controlbar_item-name">
					Save
				</div>
			</div>
			<div data-ng-show="isState('useradd')" class="controlbar_item pull-left" data-ng-click="submitUser(newUser)">
				<div class="msgview_img saveuser-lg"></div>
				<div class="pull-right controlbar_item-name">
					Save
				</div>
			</div>
			<div data-ng-show="isState('useredit') || isState('useradd')" class="controlbar_item pull-left" data-ng-click="userCancel()">
				<div class="msgview_img cancel-lg"></div>
				<div class="pull-right controlbar_item-name">
					Cancel
				</div>
			</div>
			<div data-ng-hide="isState('useredit') || isState('useradd')" class="controlbar_item pull-left edit-user" data-ng-click="editUser()">
				<div class="msgview_img edituser-lg"></div>
				<div class="pull-right controlbar_item-name">Edit<br />User</div>
			</div>
			<div data-ng-hide="isState('useradd') || isState('useredit')" class="controlbar_item pull-left add-user" data-ng-click="addUser()">
				<div class="msgview_img adduser-lg"></div>
				<div class="pull-right controlbar_item-name">Add<br />User</div>
			</div>
		</div>
	</div>
</div>
