<div class="row msgview_middle sub-tab-content scrollbar-hidden">
        <div class="scrollable-content sub-tab-content-inner">
            <div class="message-header">
            </div>


	    <div class="pull-right message-body-container">
		<table class="table table-striped table-hover" data-ng-show="modeData.headers">
			<thead>
				<th>Key</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="(rowKey, rowValue) in modeData.headers">
					<td> {{ rowKey }} </td>
					<td> {{ rowValue }} </td>
				</tr>
			</tbody>
		</table>
	     </div>

        </div>
        <!-- .scrollable-content -->
</div>

