<div class="row msgview_middle sub-tab-content scrollbar-hidden">
        <div class="scrollable-content sub-tab-content-inner">
            <div class="message-header">
            </div>

            <div class="pull-right message-body-container">
                <div class="message-body-content" data-ng-bind-html="modeData.body | to_trusted">
                </div>
            </div>
        </div>
        <!-- .scrollable-content -->
</div>
<div class="row msgview_bottom expandable attachments-view">
</div>

