<div id="msgview-source" class="msgview-source tab-pane in active" data-ng-click="switchMode('sources')">
        <div class="row controlbar">
        </div>

	<div data-ng-hide="currentMessage">
		{{activeTab}}-tab-sources
	</div>
        <div data-ng-show="!modeData.sources">
                No Source data available.
        </div>
        <table class="table table-striped table-hover" data-ng-show="modeData.sources">
		<thead>
			<th>Key</th>
			<th>Value</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="(rowKey, rowValue) in modeData.sources">
				<td> {{ rowKey }} </td>
				<td> {{ rowValue }} </td>
			</tr>
		</tbody>
        </table>
</div>
