<div class="row userview_top">
	<div class="pull-left from-picture-container">
	    <div class="from-picture empty-photo msgview_img-xl"></div>
	</div>
</div>

	<div class="msgview_content">
		<div class="row userview_middle sub-tab-content">
			<div class="scrollable-content sub-tab-content-inner">
			    <div class="pull-left user-body-container">
				<div class="user-full-name">
					 {{ currentUser.loginUser.name }}
				</div>
				<form name="edit-user-form" data-ng-submit="submitUser(currentUser.loginUser)">
					<table class="table table-bordered">
						<tr class="user-name">
							<td>
								Name:
							</td>
							<td>
								<input type="text" data-ng-model="currentUser.loginUser.name" required />		
							</td>
						</tr>
						<tr class="user-email">
							<td>
								Email Address:
							</td>
							<td>
								<input type="text" data-ng-model="currentUser.loginUser.mainRecipient.address" required />								
							</td>
						</tr>
						<tr class="user-username">
							<td>
								Username:
							</td>
							<td>
								<input type="text" data-ng-model="currentUser.loginUser.username" required />
							</td>
						</tr>
						<tr class="user-password">
							<td>
								Password:
							</td>
							<td>
								<input type="password" data-ng-model="currentUser.loginUser.hashedPassword" required />
							</td>
						</tr>
						<tr class="user-password-confirm">
							<td>
								Confirm Password:
							</td>
							<td>
								<input type="password" data-ng-model="currentUser.loginUser.hashedPassword" required />
							</td>
						</tr>
						<tr class="user-roles">
							<td>
								Roles:
							</td>
							<td>
								<div data-ng-repeat="role in currentUser.roles">
									{{ role }}
								</div>
							</td>
						</tr>
						<tr class="user-other-emails">
							<td>
								Other Email Addresses:
							</td>
							<td>
								<span data-ng-repeat="email in currentUser.loginUser.recipients">
								{{ email.address }}
								</span>
								<textarea data-ng-init="currentUser.loginUser.newRecipients = currentUser.loginUser.recipients.toString() || []" data-ng-model="currentUser.loginUser.newRecipients"></textarea>
							</td>
						</tr>
						<tr class="user-assigned-psts">
							<td>
								PSTs:
							</td>
							<td>
								<div class="pull-left">
									Available PSTs:<br />
									<div class="pst-options-container">
										<span data-ng-repeat="(key, pst) in psts">
											<input name="pst-options" type="checkbox" data-ng-click="togglePst($event, pst, currentUser.loginUser)" value="{{ key }}" data-ng-checked="isPstSelected(pst.id, currentUser.loginUser)" /> {{ pst.pstFileName }}<br />
										</span>
									</div>
								</div>
								<div class="pull-right">
									Selected PSTs:
									<div class="pst-selections-container">
										<span data-ng-repeat="(key, pst) in selectedPsts">
											<input name="pst-options" type="checkbox" data-ng-click="togglePst($event, pst, currentUser.loginUser)" data-ng-checked="isPstSelected(pst.id, currentUser.loginUser)" value="{{ key }}" /> {{ pst.pstFileName }}<br />
										</span>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<button type="submit" class="btn btn-primary">Submit Changes</button>
				</form>
			    </div>
			</div>
			<!-- .scrollable-content -->
		</div>
	</div>
